@use 'sass:math';

@mixin generate-color-scale($name) {
  $steps: 100,125,200,300,400,500,600,700,800,875,900;

  @each $step in $steps {

    @if $step == 500 {

      --#{$name}-#{$step}: oklch(
        var(--#{$name}-l)
        var(--#{$name}-c)
        var(--#{$name}-h)
      );

    }

    @else if $step < 500 {

      // Map 100–400 → 0–1 over 4 steps
      $ratio: calc(($step - 100) / 400);

      --#{$name}-#{$step}: oklch(
        calc(
          var(--dark) +
          ((var(--#{$name}-l) - var(--dark)) * #{$ratio})
        )
        calc(
          var(--#{$name}-c) *
          (1 - (1 - #{$ratio}) * var(--#{$name}-falloff))
        )
        var(--#{$name}-h)
      );

    }

    @else {

      // Map 600–900 → 0–1 over 4 steps
      $ratio: calc(($step - 500) / 400);

      --#{$name}-#{$step}: oklch(
        calc(
          var(--#{$name}-l) +
          (var(--light) - var(--#{$name}-l)) * #{$ratio}
        )
        calc(
          var(--#{$name}-c) *
          (1 - #{$ratio} * var(--#{$name}-falloff))
        )
        var(--#{$name}-h)
      );

    }

  }
  
}

@mixin generate-single-color-utilities($colors) {

  @each $color in $colors {

    .text-#{$color} {
      color: var(--#{$color}) !important;
    }

    .hover\:text-#{$color}:hover {
      color: oklch(from var(--#{$color}) l c h / var(--opacity-dark)) !important;
    }

    .bg-#{$color} {
      background-color: var(--#{$color}) !important;
    }

    .hover\:bg-#{$color}:hover {
      background-color: oklch(from var(--#{$color}) l c h / var(--opacity-dark)) !important;
    }
    // BORDER COLORS
    //.border-#{$color} {
    //  border-color: var(--#{$color}) !important;
    //}
    //
    //.hover\:border-#{$color}:hover {
    //  border-color: oklch(from var(--#{$color}) l c h / var(--opacity-dark)) !important;
    //}

  }
}

@mixin generate-color-utilities($colors) {
  $steps: 100,125,200,300,400,500,600,700,800,875,900;

  @each $color in $colors {
    @each $step in $steps {

      @include generate-single-color-utilities(#{$color}-#{$step});
      //@include generate-single-color-utilities(#{$color}-soft-#{$step});

    }
  }
}

@function fluid-clamp($min, $max) {
  $a: math.div(($max - $min), (90rem - 20rem));
  $b: $min - ($a * 20rem);
  $m: $a*100vw;
  @return clamp($min, $m + $b, $max);
}
// this works with raw numbers like 1rem etc, but not css variables or scss variables. WTF!
