@use '../utilities/functions' as f;
@use "../utilities/mixins" as m;

.chip {
  --chip-bg-base: var(--color-bg-base);
  --chip-bg-element: var(--color-bg-element);
  --chip-bg-top: var(--color-bg-top);
  --chip-text-strong: var(--color-text-strong);
  --chip-text-weak: var(--color-text-weak);
  --chip-color: var(--color-bg-color);

  padding: var(--input-padding-small);;
  font-size: var(--text-size-7);
  background-color: var(--chip-bg-top);
  color: var(--chip-text-strong);
  border: 2px solid var(--chip-bg-top);
  width: fit-content;
  border-radius: var(--border-radius-small);
  position: relative;

  &.quiet {
    color: var(--chip-text-weak);
    background-color: var(--chip-bg-base);
  }

  &:disabled, &.disabled {
    opacity: var(--opacity-disabled);
  }
}

a.chip {
  --chip-glow-size: var(--glow-size-small);
  --chip-glow-alpha: var(--opacity-disabled);
  
  cursor: pointer;
  @include m.glow(var(--chip-glow-size), var(--chip-bg-top), var(--chip-glow-alpha));

  &:hover {
    @include m.transitions;
    --chip-glow-alpha: 1;
  }

  &:focus {
    @include m.no-transitions;
    outline: solid var(--border-thickness-base) var(--chip-bg-element);
    offset: var(--border-thickness-base);
  }

  &:disabled, &.disabled {
    --chip-glow-alpha: 0;
    cursor: not-allowed;
  }
}