@use "../utilities/mixins" as m;

.menu {
  --menu-bg-base: var(--color-bg-base);
  --menu-bg-element: var(--color-bg-element);
  --menu-bg-top: var(--color-bg-top);
  --menu-text-strong: var(--color-text-strong);

  @include m.block("small");

  list-style: none;
  width: calc(100% + 1rem);
  margin-left: -0.5rem;

  a, button, .menu-item {
    @include m.transitions;
    transition-property: background-color;
    background-color: var(--menu-bg-element);
    color: var(--menu-text-strong);
    border-radius: var(--border-radius-small);
    width: 100%;
    padding: var(--input-padding-small);
    text-align: justify;

    &:hover {
      background-color: var(--menu-bg-top);
    }

    &.is-active {
      background-color: var(--menu-bg-top);
    }
  }

  ul {
    margin-left: -0.5rem;
    width: calc(100% + 1rem);
  }

  li {
    margin-bottom: 0.25rem;
  }

  li ul {
    margin-left: var(--padding-base);
    list-style: none;
    width: auto;
    border-left: var(--border-thickness-base) solid var(--menu-bg-top);
    padding-left: var(--padding-small);
  }
}
