@use "../utilities/extends";

table {
  --table-bg-element: var(--color-bg-element);
  --table-bg-top: var(--color-bg-top);
  --table-bg-color: var(--color-bg-color);
  --table-text-strong: var(--color-text-strong);
  --table-text-base: var(--color-text-base);
  --table-text-weak: var(--color-text-weal);

  @extend %block;
  width: 100%;

  color: var(--table-text-base);

  th, td {
    padding: var(--input-padding-small);
    color: var(--table-text-strong);
  }
  th {
    border: var(--border-thickness-base) solid var(--table-text-strong); // not working
  }

  td {
    border-bottom: var(--border-thickness-light) solid var(--table-text-weak);
  }
}